<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-12" >
                    <mat-card>
                        <mat-card-title>
                        <!-- <mat-icon color="primary" style="font-size:200px; margin-right: 166px;" >account_circle</mat-icon>-->
                        <i style="font-size:100px;" class="material-icons" matSuffix >account_circle</i>
                        </mat-card-title>
                        <mat-card-content>
                        <form  [formGroup]="userLoginForm" (ngSubmit)="handleLogin()">
                            <p>
                            <mat-form-field style="font-size: medium">
                                <input type="text"  formControlName= "username" matInput placeholder="Nom d'utilisateur" formControlName="username">
                            </mat-form-field>
                            </p>
                    
                            <p>
                            <mat-form-field style="font-size: medium">
                                <input  formControlName="password" type="password" matInput placeholder="mot de passe" formControlName="password">
                            </mat-form-field>
                            </p>
                    
                            <div class="error" *ngIf='invalidLogin'>{{errorMessage}}</div>
                            <p>
                    
                            </p>
                            <div class="button">
                            <button  type="submit" mat-raised-button color="primary">Connexion</button>
                            </div>
                    
                        </form>
                        </mat-card-content>
                    </mat-card>



                    <!--deuxieme page de -->
                </div>
            </div>
        </div> 
    </div>
</div>
